@media screen and (max-width: 480px) {
    .circle-left, .circle-right {
        display: none;
    }

    .page-not-found {
        padding: 0 16px;
    }

    .page-not-found h1 {
        color: rgba(255, 255, 255, 0.90);
        font-size: 110px;
        font-style: normal;
        font-weight: 700;
        line-height: 82px;
        letter-spacing: -0.5px;
    }

    .page-not-found h3 {
        color: rgba(255, 255, 255, 0.90);
        font-size: 28px;
        font-style: normal;
        font-weight: 700;
        line-height: 120%;
        margin: 16px 0 8px 0;
    }

    .page-not-found p {
        color: rgba(255, 255, 255, 0.90);
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 140%;
        width: 100%;
    }

    .page-not-found div {
        flex-direction: column;
        padding-top: 24px;
    }

    .page-not-found div button:nth-child(1) {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 64px;
        padding: 0 24px;
        gap: 8px;
        flex-shrink: 0;
        align-self: stretch;
        border-radius: 32px;
        background: #6f1df4;
    }

    .page-not-found div button:nth-child(2) {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 64px;
        padding: 0 24px;
        gap: 8px;
        flex-shrink: 0;
        align-self: stretch;
        border-radius: 32px;
        background-color: #FFFFFF;
    }
}

