@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body {
    overflow: hidden;
    font-family: inter, sans-serif;
}

.wrapper-page-not-found {
    background-color: #161622;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle-left {
    width: 396px;
    height: 396px;
    flex-shrink: 0;
    border-radius: 396px;
    border: 48px solid #6f1df4;
    opacity: 0.5;
    position: absolute;
    top: -200px;
    left: -210px;
}

.circle-right {
    width: 260px;
    height: 260px;
    flex-shrink: 0;
    border-radius: 260px;
    border: 48px solid #6f1df4;
    opacity: 0.5;
    position: absolute;
    top: -20px;
    right: -120px;
}

.page-not-found {
    text-align: center;
}

.page-not-found h1 {
    color: rgba(255, 255, 255, 0.90);
    text-align: center;
    font-size: 180px;
    font-style: normal;
    font-weight: 700;
    line-height: 140px;
    letter-spacing: -0.5px;
}

.page-not-found h3 {
    color: rgba(255, 255, 255, 0.90);
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: 0.25px;
    margin: 30px 0 24px 0;
}

.page-not-found p {
    color: rgba(255, 255, 255, 0.90);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    width: 533px;
}
.page-not-found div {
    display: flex;
    justify-content: center;
    gap:24px;
    padding-top: 40px;
}
.page-not-found div button:nth-child(1) {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 64px;
    padding: 0 40px;
    gap: 8px;
    border-radius: 32px;
    background-color: #6f1df4;
    color: #fff;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
}
.page-not-found div button:nth-child(2) {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 64px;
    padding: 0 40px;
    gap: 8px;
    border-radius: 32px;
    background-color: #FFFFFF;
    color: #000;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
}
