* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    padding: 10px;
}

header {
    height: 60vh;
    margin: 20px;
    background-color: #5252bd;
    display: flex;
    justify-content: center;
    align-items: center;
}

header p {
    color: rgba(255, 255, 255, 0.5);
    font-size: 60px;
    font-weight: 100;
}

main {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-direction: row;
    gap: 20px;
}

main div {
    background-color: #434395;
    margin: 20px;
    height: 60vh;
    width: 30vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

main div p {
    color: rgba(255, 255, 255, 0.5);
    font-size: 60px;
}

footer {
    height: 100vh;
    margin: 20px;
    background-color: #5252bd;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer p {
    color: rgba(255, 255, 255, 0.5);
    font-size: 60px;
}


