* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

section {
    height: 100vh;
}

#home {
    background-color: pink;
}
nav {
    display: flex;
    justify-content: center;
    align-items: center;
}
nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 30px 0;
}
nav ul a{
    color: gray;
}
#about {
    background-color: yellow;
}

#info {
    background-color: green;
    display: flex;
    justify-content: center;
    align-items: center;
}
