* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: gray;
}

.preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.circle {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 2px solid #50a4f8;
    position: relative;
    background-color: #d67e4c;
    margin: 100px auto 0 auto;
    animation: circle 1s linear infinite;
}

.loading-text {
    margin-top: 15px;
    color: #3a3a4c;
}

@keyframes circle {
    0% {
        transform: rotateY(0deg);
    }
    100% {
        transform: rotateY(360deg);
    }
}
