* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
}

section {
    height: 100vh;
}
section a {
    color: black;
    font-size: 3em;
    font-weight: 900;
    padding-top: 100px;
    display: flex;
    justify-content: center;
}

#block1 {
    background-color: #f14545;
    color: black;
    padding-top: 50px;
}

#block2 {
    background-color: lightblue;
    color: black;
}

#block3 {
    background-color: #5fc17d;
    color: black;
}

h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    font-size: 50px;
    font-weight: 100;
}

p {
    padding: 2vw;
    text-align: center;
    font-size: 30px;
    font-weight: 100;
}



