
body {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #fafafa;
}

.authorization-page {
    width: 25vw;
    max-width: 350px;
    height: 70vh;
    gap: 10px;
    display: flex;
    flex-direction: column;

}

.authorization {
    height: 80%;
    border: 1px solid rgba(179, 171, 171, 0.5);
}

.authorization, form {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    padding: 30px 40px;
}

.authorization img {
    width: 80%;
}

.authorization input[type=text],
.authorization input[type=password] {
    width: 90%;
    padding: 9px 7px;
    border: 1px solid #dbdbdb;
    border-radius: 3px;
    box-sizing: border-box;
    text-overflow: ellipsis;
    margin-top: 10px;
    font-size: 12px;
}

.authorization input[type=submit] {
    width: 90%;
    height: 35px;
    margin-top: 20px;
    border-radius: 10px;
    border: none;
    background-color: #0095f6;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.or-divider {
    display: flex;
    align-items: center;
    margin: 20px 0;
}

.or-divider span {
    margin: 0 10px;
    font-size: 13px;
    font-weight: bold;
    color: #8e8e8e;
}

.fb-login {
    display: flex;
    flex-direction: row;
    gap: 10px;
    font-size: 15px;
    color: #155694;
    margin: 15px 0;
}

.fb-login img {
    width: 20px;
    height: 20px;
}

.registration {
    height: 15%;
    width: 100%;
    border: 1px solid rgba(179, 171, 171, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
    padding: 20px 40px;
}
.registration a {
    color: #155694;
    text-decoration: none;
    font-weight: bold;
}
