@import url('https://fonts.googleapis.com/css2?family=Bowlby+One&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #1e1e1e;
}

.w-1340 {
    width: 1340px;
    margin: 0 auto;
/*    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;*/
}

nav {
    margin-top: 36px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    gap: 59px;
}

ul a {
    color: #E9E3DC;
    font-family: "Bowlby One", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 96.9%;
    text-transform: uppercase;
    text-decoration: none;
}

.nav__active-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 203px;
    height: 60px;
    box-sizing: border-box;
    background: #B3A0CD;
    color: #1e1e1e;

}

/*------------------------*/
.header-title {
    width: 1255px;
    color: #E9E3DC;
    font-family: 'Bowlby One', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 107.088px;
    line-height: 88.9%;
    text-align: center;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    margin: 74px auto 33px auto;
}

.header-img {
    display: block;
    margin: 0 auto;

}
