@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    border: none;
}

.w-1070 {
    width: 1070px;
    margin: 0 auto;
}

/*-----------------------header--------------------*/
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
    font-family: "DM Sans", sans-serif;
}

header nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

header nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

header nav a {
    font-weight: 700;
    font-size: 15px;
    letter-spacing: -0.468947px;
    color: #696871;
}

.header__active-link {
    color: #19191B;
    border-bottom: 2px solid #5454D4;
}

.header__button {
    width: 211.02px;
    height: 60px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #FF7143;
    border: none;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 17px;
    letter-spacing: -0.531px;
}

/*------------Hero------------*/
.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 68px;
}

.hero div h1 {
    font-family: "DM Sans", sans-serif;
    font-weight: 700;
    font-size: 75px;
    line-height: 77px;
    letter-spacing: -2.50105px;
    color: #19191B;
}

.hero div p {
    font-family: "Mulish", sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: -0.625263px;
    color: #696871;
    margin: 30px 0 50px 0;
}

.hero button {
    width: 188.21px;
    height: 60px;
    background: #5454D4;
    border-radius: 10px;
    font-family: "DM Sans", sans-serif;
    font-weight: 700;
    font-size: 17px;
    line-height: 22px;
    text-align: center;
    letter-spacing: -0.531474px;
    color: #FFFFFF;
}

/*-------------brands-----------*/
.brands {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 212px 0 160px 0;
}

/*-----------index---------------*/
.index {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}

.index h1 {
    font-family: "DM Sans", sans-serif;
    font-weight: 700;
    font-size: 50px;
    line-height: 57px;
    letter-spacing: -2.50105px;
    color: #19191B;
}

.index p {
    width: 459px;
    height: 90px;
    font-family: "Mulish", sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: -0.63px;
    color: #696871;
    margin: 30px 0 50px 0;
}

.index a {
    font-family: 'DM Sans';
    font-weight: 700;
    font-size: 17px;
    line-height: 22px;
    letter-spacing: -0.53px;
    color: #5454D4;
}

/*------------Tools----------*/

.tools {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 138px 0 150px 0;
}

.tools div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.tools div h3 {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    letter-spacing: -0.750316px;
    color: #19191B;
}

.tools div p {
    width: 307px;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    letter-spacing: -0.500211px;
    color: #696871;
    margin-top: 20px;
}

/*-------------------------plan---------------------------*/
.plan {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.plan div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.plan div h2 {
    width: 523px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 70px;
    letter-spacing: -1.87579px;
    color: #19191B;
    margin-right: 250px;
}

.yearly {
    width: 160px;
    height: 55px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    letter-spacing: -0.500211px;
    color: #FFFFFF;
    background: #5454D4;
    border-radius: 10px 0px 0px 10px;
}

.monthly {
    width: 160px;
    height: 55px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    letter-spacing: -0.500211px;
    color: #19191B;
    background: #F7F7FB;
    border-radius: 10px 0px 0px 10px;
}

.price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 98px;
    margin-bottom: 174px;
    gap: 18px;
}

.price div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 330px;
    height: 431px;
    background: #F8F8F8;
    border-radius: 10px;
    transition: 2s;

}

.price div h5 {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    letter-spacing: -0.562737px;
    color: #696871;
}

.price div h3 {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 56px;
    text-align: center;
    letter-spacing: -1.03448px;
    color: #1D293F;
    margin: 22px 102px 28px 102px;
}

.price div p {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 50px;
    text-align: center;
    letter-spacing: -0.53px;
    color: #696871;
    margin-bottom: 3px;
}

.price button {
    width: 285px;
    height: 60px;
    background: #FFFFFF;
    border: 1px solid #EAE9F2;
    border-radius: 10px;
    transition: 3s;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 22px;
    text-align: center;
    letter-spacing: -0.53px;
    color: #5454D4;

}

.price div:hover {
    border-radius: 10px;
    background-color: #ff7143;
    transition: 2s;
    transform: scale(1.1);
}

.price div :hover h5 {
    color: rgba(255, 255, 255, 0.7);
}

.price div:hover h3 {
    color: #FFFFFF;
}

.price div:hover p {
    color: #FFFFFF;
}

.price div:hover button {
    background: #9F3919;
    color: #FFFFFF;
    transition: 2s;
}
