* {
    margin: 0;
}

.grid {
    height: 100vh;
    display: grid;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: 20% 30% 30% 20%;
    grid-template-areas:
                    "header header header"
                    "left-aside sec-1 right-aside"
                    "left-aside sec-2 right-aside"
                    "footer footer footer";
}

header {
    grid-area: header;
    background: #D9D9D9;
}

.left-aside {
    grid-area: left-aside;
    background: #C0BDBD;
}

.right-aside {
    grid-area: right-aside;
    background: #C0BDBD;
}

.sec-1 {
    grid-area: sec-1;
    background: #827878;
}
.sec-2 {
     grid-area: sec-2;
     background: #B7ADAD;
 }

footer {
    grid-area: footer;
    background: #D9D9D9;
}
