@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Fjalla+One&family=Indie+Flower&family=Rubik+Pixels&family=Sedgwick+Ave+Display&display=swap');
*{
    margin: 0;
}
body{
background-color: #72aae6;
}
.wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 10px;
}
.block{
    width: 200px;
    height: 200px;
    background-color: #a9cdf3;
    display: flex;
    justify-content: center;
    align-items: center;
}
