*{
    margin: 0;
    padding: 0;
}
header{
    height: 22vh;
    background: #D9D9D9;
}
main{
    display: flex;
}
aside{
    height: 56vh;
    width: 27vw;
    background: #C0BDBD;
}
section{
    height: 56vh;
    width: 46vw;
    background: #a4a4a4;
}
footer{
    height: 22vh;
    background: #D9D9D9;
}


