* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h2 {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 58px;
    text-align: center;
    color: #142823;
}

.cards {
    padding: 39px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 128px;
}

.card {
    height: 291px;
    width: 245px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    background: #FFFFFF;
    box-shadow: 0 4px 20px rgba(139, 139, 139, 0.1);
    border-radius: 32px;
    position: relative;
}

.sneakers{
    height: 200px;
    width: 245px;
}
.hyghly-rated{
    height: 60px;
    width: 165px;
    position: absolute;
    top: -30px;
}
.title-card {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: normal;
    text-align: center;
    color: #282828;
}
.blue-price{
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #106FDF;
}
.red-price {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #DD152D;
}
