* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #7c7878;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.spinner {
    border: 6px solid #dfc6c6;
    border-top: 6px solid #41e39a;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1.5s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
.loading-text{
    margin-top: 15px;
    color: #3a3a4c;
}
