* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    border: none;
}

.w-1400 {
    width: 1400px;
    margin: 0 auto;
}
/*----------Header----------*/
header {
    height: 113px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    background: #24204A;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    padding: 48px 115px 41px 115px;
}

header h2 {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #E5E5E5;
    opacity: 0.6;
    text-transform: uppercase;
}

header nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

header nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 64px;
}

header nav ul a {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    opacity: 0.6;
}

/*----------Main----------*/
main {

}

/*----------One position----------*/
.one-position {
    height: 579px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background: #24204A;
}

.one-position-content {
    width: 570px;
    height: 366px;
    margin: 85px 208px 128px 115px;
}

.one-position-content h2 {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
}

.one-position-content > p {
    width: 570px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 130%;
    letter-spacing: 0.05em;
    color: #8E88C1;
    margin: 32px 0;

}

.one-position-content button {
    width: 200px;
    height: 56px;
    background: #3F50E7;
    box-shadow: 0px 6px 20px rgba(0, 255, 224, 0.2);
    border-radius: 8px;
    color: #fff;
}

.one-position-item {
    width: 145px;
    height: 41px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4B4864;
    border-radius: 8px;
    margin-bottom: 32px;
}

.one-position-item p {
    margin: 0;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.05em;
    color: #8E88C1;
}

.led-item {
    width: 375px;
    height: 411px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #827EAC;
    box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.25);
    border-radius: 8px;

}

.led {
    width: 318px;
    height: 318px;
}

/*----------Card content----------*/
.card-content {
    height: 764px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #071341;
}

.card-color {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 73px;
    margin: 50px 115px;
}

.card-color-item {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 175px;
    height: 56px;
}

.card-color-item-1 {
    width: 56px;
    height: 56px;
    background-color: #FF6853;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    margin-right: 18px;
}

.card-color-item-2 {
    width: 56px;
    height: 56px;
    background-color: #FF537C;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    margin-right: 18px;
}

.card-color-item-3 {
    width: 56px;
    height: 56px;
    background-color: #80D2C4;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    margin-right: 18px;
}

.card-color-item-4 {
    width: 56px;
    height: 56px;
    background-color: #3F50E7;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    margin-right: 18px;
}

.card-color-item-5 {
    width: 56px;
    height: 56px;
    background-color: #95CB7C;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    margin-right: 18px;
}

.card-color-item-text {
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.number {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    margin-bottom: 3px;
}

.text {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.05em;
    color: #8E88C1;
}

.filling {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    color: #FFFFFF;
    margin: 0 163px;
}

.sothatitwas {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.05em;
    color: #8E88C1;
    margin: 50px 0;
}

.identical-cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 32px;
}

.card-item {
    width: 209px;
    height: 206px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    border: 2px solid #8E88C1;
    border-radius: 8px;
    padding: 30px 20px;
}

.card-item > img {
    width: 52px;
    height: 52px;
    margin-bottom: 26px;
}

.card-item > p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.05em;
    color: #8E88C1;
}
.img-map{
    width: 1400px;
    height: 664px;
}

/*----------Footer----------*/
footer{
    height: 94px;
    background: #24204A;
    display: flex;
    justify-content: center;
    align-items: center;

}
footer>p {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 200%;
    color: #FFFFFF;
}
