* {
    margin: 0;
    padding: 0;
}

header {
    height: 5vh;
    background: #D9D9D9;
}

main {
    height: 85vh;
    width: 100%;
    display: flex;
}

.sec-1 {
    height: 85vh;
    width: 29vw;
    background: #A4A4A4;
}

.sec-2 {
    height: 85vh;
    width: 30vw;
    background: #C1C1C1;

}

.sec-3 {
    height: 42.5vh;
    width: 41vw;
    background: #7F7A7A;
}

.sec-4 {
    height: 42.5vh;
    width: 41vw;
    background: #6B6161;
}

footer {
    height: 10vh;
    background: #D9D9D9;
}
