@media screen and (min-width: 376px) and (max-width: 786px) {
    .wrapper {
        width: 768px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 48px 24px;
        margin: 0 auto;
        gap: 40px 24px;
    }

    .item {
        width: 348px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        text-align: left;
    }


}
