@media screen and (max-width: 375px) {
    .wrapper {
        width: 375px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 32px 16px;
        margin: 0 auto;
        gap: 32px;
    }
    .item{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        text-align: left;

    }
    .item img{
        width: 128px;
        height: 128px;
        border-radius: 50%;
    }
    .item h3{
        margin-top: 16px;
    }
    .item p{
        margin-top: 8px;
    }
}
