* {
    margin: 0;
    padding: 0;
}

header {
    height: 22vh;
    background: #D9D9D9;
}

main {
    display: flex;
}

aside {
    height: 56vh;
    width: 27vw;
    background: #C0BDBD;
}

div {
    height: 56vh;
    width: 46vw;
    display: flex;
    flex-direction: column;
}

.gray {
    height: 26vh;
    width: 46vw;
    background: #827878;
}

.lightgray {
    height: 30vh;
    width: 46vw;
    background: #a89c9c;
}

footer {
    height: 22vh;
    background: #D9D9D9;
}

