* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.w-1512 {
    width: 1512px;
    height: 982px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 132px;
    margin: 0 auto;
}


.card {
    height: 492px;
    width: 319px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: rgba(217, 217, 217, 0.3);
    border: 4px solid #554C4C;
    position: relative;

}
.card-item {
    height: 100px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #FFFFFF;
    border: 4px solid #554C4C;
    border-radius: 50px;
    position: absolute;
    top: -50px;
}

.item-img {
    height: 60px;
    width: 60px;
}
.card h2 {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 48px;
    color: #000000;
}

.card p {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #000000;
    margin: 4px 45px 0 45px;
}

.border-gr{
    border: 4px solid #65856E;

}


