* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 auto;
}

h2{
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 48px;
    color: #000000;
}
p{
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #000000;
    margin: 4px 45px 0 45px;
}
.card{
    height: 492px;
    width: 319px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: rgba(217, 217, 217, 0.3);
    border: 4px solid #554C4C;
    position: relative;

}
.card-item{
    height: 100px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #FFFFFF;
    border: 4px solid #554C4C;
    border-radius: 50px;
    position: absolute;
    top: -50px;
}
.item-img{
    height: 60px;
    width: 60px;
}
