* {
    margin: 0;

}

.wrapper {
    height: 600px;
    background: #eccaa1;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.bloc {
    width: 100px;
    height: 100px;
    background-color: #fb0328;
    transition: 1s;

}

.bloc:hover {
    border-radius: 50%;
    background-color: #676464;
    transition: 2s;
}
