@import url('https://fonts.googleapis.com/css2?family=Bowlby+One&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #1e1e1e;
}

.w-1440 {
    width: 1440px;
    margin: 0 auto;
}

nav {
    margin-top: 36px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    gap: 59px;
}

ul a {
    color: #E9E3DC;
    font-family: "Bowlby One", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 96.9%;
    text-transform: uppercase;
    text-decoration: none;
}

.nav__active-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 203px;
    height: 60px;
    box-sizing: border-box;
    background: #B3A0CD;
    color: #1e1e1e;

}

/*------------------------*/
.header-title {
    width: 1255px;
    color: #E9E3DC;
    font-family: 'Bowlby One', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 107px;
    line-height: 88.9%;
    text-align: center;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    margin: 74px auto 33px auto;
}

.header-img {
    display: block;
    margin: 0 auto;

}

/*---------main--------------*/
main{
    width: 1340px;
    display: flex;
}
.box {
    height: 369px;
    width: 1340px;
    background-color: #D1EF53;
    border-radius: 30px;
    border: black solid 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 64px;
}

.box h2 {
    width: 533px;
    height: 186px;
    font-family: 'Bowlby One', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 70px;
    line-height: 88.9%;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: #1E1E1E;
    margin: 98px 28px 85px 109px;
}
.content {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.content p {
    width: 521px;
    height: 75px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 139.9%;
    letter-spacing: -0.02em;
    color: #1E1E1E;
    margin-top: 100px;
    margin-right: 149px;
}

.content button {
    width: 176px;
    height: 60px;
    margin-top: 34px;
    margin-bottom: 100px;
    background: #E9E3DC;
    border: 4px solid #1E1E1E;
    box-shadow: 8px 8px 0  #000000;
    font-family: 'Bowlby One', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 96.9%;
    text-align: center;
    text-transform: uppercase;
    color: #1E1E1E;
}

.main-img{
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    row-gap: 64px;
    margin: 0;
}

/*----------footer----------*/
footer{
    width: 895px;
    height: 235px;
    margin: 64px 272px 36px 272px;
}
footer h2{

    font-family: 'Bowlby One', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 70px;
    line-height: 101.9%;

    text-align: center;
    text-transform: uppercase;
    color: #E9E3DC;
}
footer button{
    width: 196px;
    height: 60px;
    margin: 33px 349px 0 349px;
    background: #D1EF53;
    font-family: 'Bowlby One',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 96.9%;
    text-align: center;
    text-transform: uppercase;
    color: #1E1E1E;
}
