body {
    background: lightseagreen;
}

.form-login {
    width: 40%;
    height: 200px;
    background-color: white;
    border-radius: 20px;
    padding: 40px;
    margin: 15% auto;
display: flex;
    flex-direction: column;
    gap: 15px;


}
