body {
    background: #048f88;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-login {
    width: 600px;
    height: 400px;
    background-color: white;
    border-radius: 15px;
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.form-login p {
    font-size: 40px;
    text-align: center;
    margin-top: 0;
    font-family: sans-serif;
}

.form-login input[type=text],
.form-login input[type=password] {
    height: 40px;
    width: 500px;
    margin-top: 20px;
    border: 1px solid #575151;
    border-radius: 6px;
    outline: none;
    transition: border-color 0.3s;
    font-size: 20px ;
    color: #403a3a;
}

.form-login input:focus {
    border-color: #788f14;
}

.form-login input[type=text]::placeholder,
.form-login input[type=password]::placeholder {
    color: #716868;
    font-size: 15px;
}

.form-login div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 200px;
    margin-top: 25px;

}

.form-login div label {
    color: #4e4444;
    font-family: sans-serif;
    font-size: 20px;
}

.form-login div input[type=button] {
    border-radius: 10px;
    border: 1px solid #7c7474;
    width: 120px;
    height: 35px;
    font-size: 16px;
    background-color: white;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}
.form-login div input[type="button"]:hover {
    background-color: #939114;
    color: #1E1E1E;
}

