*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
}
header{
    height: 22vh;
    background: #D9D9D9;
}
main{
    height: 65vh;
    background: #a4a4a4;
}
footer{
    height: 22vh;
    background: #D9D9D9;
}
