* {
    margin: 0;
    padding: 0;
}

header {
    height: 5vh;
    background: #D9D9D9;
}

main {
    height: 74vh;
    width: 100%;
    display: flex;
}

.sec-1 {
    height: 74vh;
    width: 59vw;
    background: #A4A4A4;
}

.sec-2 {
    height: 40vh;
    width: 41vw;
    background: #7F7A7A;
}

.sec-3 {
    height: 34vh;
    background: #615050;
}

.sec-4 {
    height: 10vh;
    background: #D9D9D9;
}

footer {
    height: 12vh;
    background: #A4A4A4;
}
