@media screen and (min-width: 376px) and (max-width: 768px) {

    .wrapper {
        width: 768px;
        height: 654px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 32px 24px;
        gap: 64px 32px;
        margin: 0 auto;
    }

    .item {
        width: 218px;
        height: 239px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin: 0 auto;
    }

    .item img {
        width: 100%;
        height: 164px;
        border-radius: 10px;
    }
}
