@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.wrapper {
    width: 1440px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 64px 32px;
    margin: 0 auto;
    padding: 64px 130px;
}

.item {
    width: 372px;
    height: 354px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.item img {
    width: 100%;
    height: 279px;
    border-radius: 10px;
}

.item h3 {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 120%;
    color: #000000;
    margin: 20px 0;
}

.item p {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 120%;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    color: #3C3C43;
}
