@media screen and (max-width: 375px){

.wrapper {
    width: 375px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    gap: 40px;
    padding: 32px 16px;
}
    .item{
        width: 100%;
        height: 332px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin: 0 auto;
    }
    .item img{
        width: 100%;
        height: 257px;
        border-radius: 10px;
    }
}
