* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #d7d5f3;
}

h1 {
    text-align: center;
    padding: 40px 0;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px 0;
}

.plates {
    height: 250px;
    width: 250px;
    border: 2px solid gray;
    border-radius: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.plates img {
    width: 55%;
}

.plates p {
    font-size: 25px;
    font-weight: bold;
}

