body{
    background-image:url("https://images.unsplash.com/photo-1502691876148-a84978e59af8?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80");
    background-size: auto;
    background-attachment: fixed;
    background-position: center;
}
p {
    color: coral;
    /*font-size: 32px;*/
    width: 30%;
    height: 50px;
    background-color: aqua;
    display: inline-block;
}

h2, h3 {
    color: #5b80f8;
}

sub, sup {
    font-size: 16px;
    color: tan;
}

span {
color: blue;
    /*    font-size: 40px;*/
    width: 30%;
    height: 50px;
    background-color: aqua;
    display: inline-block;
}
img{
    width: 200px;
    object-fit: cover;
}
