* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #5c5757;
    z-index: 9999;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.color-spinner {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 6px solid #ed9c9c;
    border-top: 6px solid #5454D4;
    animation: spin 3s linear infinite,
    color-change 6s ease-in-out infinite;
}

.loading-text {
    margin-top: 15px;
    color: #3a3a4c;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes color-change {
    0% {
        border-top-color: #5454D4;
    }
    25% {
        border-top-color: #ff7143;
    }
    50% {
        border-top-color: #4CAF50;
    }
    75% {
        border-top-color: #e91e63;
    }
    100% {
        border-top-color: #5454D4;
    }
}
